<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/all.css">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>

  <div id="sidebar" class="sidebar">
    <div class="closebtn" onclick="closeNav()">×</div>
      <img  src="static\img\kramark_logo.png" class="logo" alt="logo">
      
    <div class="sidebar__content">
      <nav class="primary">
        <ul>
          <li>Collections</li>
          <li>Tags</li>
          <li>Favorites</li>

        </ul>
      </nav>
    </div>
  </div>



  <div id="main" class="main-content">
    <button class="openbtn" onclick="openNav()">☰</button>  
    <nav class="top-nav flex-container">
      <input type="url" name="url" id="url-input"
       placeholder="https://example.com"
       pattern="https://.*" size=""
       required>
       <button id="add">ADD</button>
       <button id="show">SHOW ALL</button>
    </nav>
    <div id="grid" class="grid-container">


    </div> 

    <div class="left-sidebar">
      

    </div>
  </div>

  <script src="static/scripts/index.js"></script>
</body>
</html>
